scm:
    git:
        userRemoteConfigs:
        - url: https://github.ibm.com/fd4b-agrotech/ibm-envizi-emissions-api-nodejs-sdk-internal.git
          credentialsId: 'eis.github-credentials'
        branches:
        - name: '{{ BRANCH }}'
